html{font-size:1.4rem}
body{
  text-align:center;
  font-family:'Playfair Display',serif;
  background-image:
    url(Cicero.PNG),
    url(paper.jpg);
  background-position:
    right bottom, 
    left top;
  background-repeat:
    no-repeat, 
    repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh}
body{counter-reset:item;
}
#container{
  background-color:rgba(255,255,255,0.8);
  position:relative;
  margin: 0 auto;
  text-align:center;
}
ol{
  list-style:none
}
p{
  padding:20px;
  text-align:justify;
}
p.h1{
  padding:20px;size:2rem
}
li{
  counter-increment:item;}
li:before{
  margin-right:1em;
  content:counter(item);
  font-weight:700;
  font-family:
    'PT Mono',
    monospace
}
a:link{
  text-decoration:underline
}
a:link,a:visited{
  color:#000
}
a:active,a:hover{
  color:#bcb6d7}.sans-serif{font-family:Arimo,sans-serif
}
