html{font-size:1.4rem}
body{
  font-family:'Playfair Display',serif;
  background-image:
    url(Cicero.PNG),
    url(paper.jpg);
  background-position:
    right bottom, 
    left top;
  background-repeat:
    no-repeat, 
    repeat;
  min-height:100vh}
body{counter-reset:item;
}
div.outer {
  display: table;
  position: absolute;
  height: 100%;
  width:100%
}
div.middle {
  display: table-cell;
  vertical-align: middle;
}
div.inner {
  background-color:rgba(255,255,255,0.8);
  margin-left: auto;
  margin-right: auto;
}
p{
  padding:20px;
  text-align:justify;
}
p.h1{
  padding:20px;size:2rem
}
a:link{
  text-decoration:underline
}
a:link,a:visited{
  color:#000
}
a:active,a:hover{
  color:#bcb6d7}.sans-serif{font-family:Arimo,sans-serif
}
