html {
  font-size: 1.4rem;
}

body {
  font-family: 'Playfair Display', serif;
  background-image: url("paper.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  counter-reset: item;
}
ol {
  list-style: none;
}
li {
  counter-increment: item;
}
li:before {
  margin-right: 1em;
  content: counter(item);
  font-weight: bold;
  font-family: 'PT Mono', monospace;
}

a:link {
    text-decoration: underline;
}
a:link, a:visited {
    color: black;
}
a:active, a:hover {
    color: #bcb6d7;
}

.sans-serif {
  font-family: 'Arimo', sans-serif;
}
